.round-admin
  %h2
    = raw "Round management of #{link_to @competition.name, admin_competition_path(@competition)}"
  .row.add-rounds
    
    = link_to 'Add new Round', new_admin_competition_round_path(@competition), remote: true, class: 'btn btn-primary'
        
  .round-group    

    - @rounds.each do |round|
      .round      
        = link_to "#{round.name}", admin_competition_round_path(@competition, round), class: 'btn btn-warning btn-homepage btn-lg btn-block'
= render 'shared/dialog'