%article.event
  .container
    .row
      .col-sm-7
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .event_info.col-sm-3
        %header
          %h3 The Bournce
          %span.badge 15 People coming
          %span
            = event.time
        %p 
          = event.description
        .actions
          %a.btn.btn-primary(href="") Join Social Club Now!!
          %a.btn.btn-success(href="") Pay for this event($20)

  .container            
    .row        
      %h4 
        = "Address: #{event.address}"
        = "Latitude: #{event.latitude}"
        = "Longitude: #{event.longitude}"
    .map
      %div{id: "map#{event.id}", class: 'gmaps4rails_map', style: 'width: 665px; height: 375px'}

/ the handle attribute here need to be different, otherwise will always refer to the last map
:javascript
  handler#{event.id} = Gmaps.build("Google");
  handler#{event.id}.buildMap({ provider: {}, internal: {id: "map#{event.id}"}}, function(){
    markers = handler#{event.id}.addMarkers([
      {
        "lat": #{event.latitude},
        "lng": #{event.longitude},        
        "infowindow": "#{event.name}",        
      }
    ]);
    handler#{event.id}.bounds.extendWith(markers);
    handler#{event.id}.fitMapToBounds();
  });
