%article.event
  .container
    .row
      .col-sm-7
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
        .map
          %div{id: "map#{event.id}", class: 'gmaps4rails_map', style: 'width: 665px; height: 375px'}
        .actions{id: "event_action_#{event.id}"}
          - if current_user.comming_to_event?(event)
            = link_to "I'm not coming",event_participant_path(current_user.event_participant(event)), method: 'delete', class: "btn btn-warning"
          - elsif event.is_free?(current_user)
            = link_to "I'm coming", event_participants_path(event_id: event.id), method: 'post', class: "btn btn-primary"
          - else

            = link_to "Pay to come", nil, class: 'btn btn-success'
            = link_to "Join social club", nil, class: 'btn btn-primary'
            
      .event_info.col-sm-3
        %header
          %h3 The Bournce
          %span.badge 
            = event.number_of_people_comming  
          People coming
        .row        
          %h4 
            = "Address: #{event.address}"        
        .row    
          %h4
            = event.time.strftime("%F at %I:%M%p")
        .row.description 
          %h4 Description:        
          %p 
            = event.description

                  
    

/ the handle attribute here need to be different, otherwise will always refer to the last map


:javascript 
  handler#{event.id} = Gmaps.build("Google");
    handler#{event.id}.buildMap({ provider: {}, internal: {id: "map#{event.id}"}}, function(){
      markers = handler#{event.id}.addMarkers([
        {
          "lat": #{event.latitude},
          "lng": #{event.longitude},        
          "infowindow": "#{event.name}",        
        }
      ]);
      handler#{event.id}.bounds.extendWith(markers);
      handler#{event.id}.fitMapToBounds();
      handler#{event.id}.getMap().setZoom(14);
      

    });