.home
  %h1 Competitions
  .home.competition-group
    - @competitions.each do |competition|
      .home.competition      
        = link_to "#{competition.name}", competition_path(competition), class: 'btn btn-primary btn-homepage btn-lg btn-block'
.home
  
  %h1 Events
  .home.event-group
    - @events.each do |event|
      .home.competition      
        = link_to "#{event.name} on #{event.time.to_date}", event_path(event), class: 'btn btn-success btn-homepage btn-lg btn-block'