.well
  = bootstrap_form_for @game, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6", remote: true  do |f|
    #error_explanation.bg-danger.text-danger
  
    = f.number_field :team_one_score
  
    = f.number_field :team_two_score  
    .control-group.update-score-fieldset
      = f.check_box :is_finished  
    .form-group.action
      = f.submit 'Update Scores', class: 'btn btn-primary'
