.container.round{id: "game_#{game.id}"}
  .row       
    .col-md-4
      .panel.panel-primary.panel-fix-height
        .panel-heading
          %h3.panel-title 
            = game.team_one.name
        .panel-body
          %table.table.table-striped.table-hover
            %thead
              %tr

                %th(width="30%") Name
                %th(width="40%") Email                
            %tbody
              - game.team_one.members.each do |member| 
                %tr                
                  %td
                    = member.name
                  %td 
                    = member.email                                

    .col-md-3.vs
      %h1
        = "#{game.team_one_score.to_s} : #{game.team_two_score.to_s}"
      %h2 
        = game.round.name
      .vs-img
    .col-md-4
      .panel.panel-danger.panel-fix-height
        .panel-heading
          %h3.panel-title
            = game.team_two.name
        .panel-body
          %table.table.table-striped.table-hover
            %thead
              %tr

                %th(width="30%") Name
                %th(width="40%") Email                
            %tbody
              - game.team_two.members.each do |member| 
                %tr                
                  %td
                    = member.name
                  %td 
                    = member.email    
  
  .row   
    - if  admin || game.include_member?(current_user)
      .col-md-2
        = link_to 'Update Result', edit_game_path(game, from_admin: admin), remote: true,  class: "btn btn-success"
      - if admin
        .col-md-2
          = link_to 'Delete game', admin_game_path(game), method: 'delete', remote: true,  class: "btn btn-danger"