!!! 5
%html(lang="en-US")
  %body
    %h2
      = "#{@user.name} has updated the score of #{@game.round.name} game between #{@game.team_one.name} and #{@game.team_two.name} of competition #{@game.competition.name}"
    %h3
      = "#{@game.team_one.name} score: #{@game.team_one_score}"
    %h3 
      = "#{@game.team_two.name} score: #{@game.team_two_score}"
    
    %footer
      &copy 2015 QANZ SocialClub
