.competition_admin
  %header
    %h2 
      = "#{@competition.name} Management"
  .left.col-md-9
    .teams
      .row
        .col-md-2
          = link_to 'Add new team', new_admin_competition_team_path(@competition), remote: true, class:'btn btn-success btn-sm'
        .col-md-3
          = link_to 'Manage Games', admin_competition_rounds_path(@competition), class:'btn btn-warning btn-sm'
      #competition-teams
        = render @competition.teams
  .right.col-sm-3
    .unallocated_users
      
      .title      
        %h4 Unallocated users
      
        = link_to 'Auto allocate', auto_create_team_members_path(competition_id: @competition.id), method: 'post', remote: true,  class: 'btn btn-primary btn-sm'
      .well-fixed.unallocate-droppable
        = render 'unallocated_users', competition: @competition
        
= render 'shared/dialog'