!!! 5
%html(lang="en-US")
  %head
    %title QANZSocialClub - A place to Socialize with each other
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

    = yield :head
  %body

    .container
      %header
        = render 'shared/header'
      %section.content.clearfix

        = render 'shared/messages'
        = yield      
      %footer
        &copy #{this_year} Quintiq-SocialClub        
